#postTypeSearch #keyword{
font-size: 16px ;
font-weight: 300 ;
line-height: 1.625 ;
background-color: #eee ;
background-image: url( //addsearch.com/logo/AAAAAA-20.png ) !important;
background-repeat: no-repeat;
background-position: 95% 50%;
border: 0px ;
border-radius: 32px ;
width: 100% ;
padding: 15px;
cursor: auto !important;
display: block;
margin: auto;
}

#postTypeSearch h4{
    font-size: 20px;
    margin: 10px;
}

#datafetch{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#datafetch .s3-card{
    width: 100%;
    padding: 70px 24px 32px 24px;
    -webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 50px;
    margin: 10px;
    max-width: 23%;
    text-align: center;
    min-width: 201px;
    flex: 0 0 23%;
}

#datafetch .s3-card img{
    margin: auto;
}

#datafetch .s3-card h2{
    min-height: 56px;
    margin-top: 20px;
    text-align: center;
    color: #797878;
    font-size: 24px;
}

#datafetch .s3-card .divider{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #C4C4C4;
}

#datafetch .s3-card p{
    margin-bottom: 20px;
    color: var(--grey);
    line-height: 150%;
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}